* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

body {
    background: black;
}

.body-container {
    max-width: 425px;
    margin: 0 auto;
    padding-block: 20px;
    padding-top: 10px;
    background-color: white;
}

img {
    width: 425px;
    height: 275px;
}

.heading {
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.comments-left{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.comments {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
   
}
.likeby{
    padding-left: 10px;
}
.maincomment {
   padding-left: 10px;
}