* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

body {
    background: grey;
}

.body-container {
    max-width: 400px;
    margin: 0 auto;
    padding-block: 20px;
    background-color: white;
}

img {
    width: 400px;
    height: 275px;
}

.heading {
    background: burlywood;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.comments-left{
    display: flex;
}
.comments {
    display: flex;
    justify-content: space-between;
    background: wheat;
    height: 30px;
}

.maincoment {
    width: 300px;
    text-align: center;
}